@font-face {
  font-family: "Gilroy-light";
  font-style: normal;
  src: local(''),
       url('../fonts/Gilroylight.woff2') format('woff2'),
       url('../fonts/Gilroylight.woff') format('woff');
};

@font-face {
  font-family: "Gilroyextra-bold";
  font-style: normal;
  src: local(''),
       url('../fonts/Gilroyextrabold.woff2') format('woff2'),
       url('../fonts/Gilroyextrabold.woff') format('woff');
};
