.language {
    transform: rotate(90deg);
    margin: 0 auto;
    padding: 0px 100px 250px 50px;
    font-family: "Gilroyextra-bold";
    font-size: 34px;
    line-height: 42px;


    &-ru {
    border: none;
    background-color: #ffffff;
    }

    &-eng {
    border: none;
    background-color: #ffffff;
    }
}