.language {
  position: absolute;
  display: block;
  transform: rotate(90deg);
  margin: 0 auto;
  font-family: "Gilroyextra-bold";
  font-size: 18px;
  line-height: 22px;
  width: 165px;
  bottom: -70%;
  right: 0;

  button {
    border: none;
    background-color: #ffffff;
  }
  @media screen and (max-width: 576px) {
    width: 165px;
    bottom: -7%;
    right: -20%;
    margin: 0 auto;
  }
}
    



    
