.language {
    transform: rotate(90deg);
    margin: 0 auto;
    padding: 0px 100px 250px 50px;
    font-family: "Gilroyextra-bold";
    font-size: 34px;
    line-height: 42px;

    &-ru {
    border: none;
    background-color: #ffffff;
    }

    &-eng {
    border: none;
    background-color: #ffffff;
    }
    
}

@media screen and (min-width: 576px) {
    .language {
        position: absolute;
        top: 195px;
        left: 1000px;
        margin: 0 auto;
        padding: 5px 50px 100px 50px;
    }
}
    
