.nav {
  position: relative;
  z-index: 1;
}

.nav--closed .nav__list {
  display: none;
}

.nav__toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 22px;
  height: 22px;
  display: none;
  background: url(../img/cross.svg) no-repeat top left;
  border: none;
  cursor: pointer;
}

.nav--closed .nav__toggle {
  background: url(../img/menu.svg) no-repeat top left;
}

.nav__toggle--v {
  display: block;
}


@media screen and (min-width: 768px){
  .nav__toggle {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .nav--closed .nav__list {
    display: grid;
  }

  .nav__toggle--v {
    display: none;
  }
}
  
.nav-list {
  list-style: none; 
}

.nav-list__link {
  font-family: 'Gilroyextra-bold';
  font-size: 34px;
  line-height: 42px;
  color: #090909;
}

.nav__block {
  display: block;
}
